table {
    // color: dimgrey;
    font-size: 1.1em;
    border-collapse: collapse;
}

th {
    font-weight: bold;
    color: $antiquewhite;
    text-align: left;
    background-color: $shadow;
}

th, td {
    padding: 0.5em 1em 0.5em 0.5em;
    border: solid 1px $shadow;
    margin: 0;
}

.sort {
    padding-left: 0.5em;
    color: $emerald;
}

.sort:hover {
    color: $antiquewhite;
}

.sort:active {
    color: $black;
}
