table {
    // color: dimgrey;
    font-size: 1.1em;
    border-collapse: collapse;
}

th {
    font-weight: bold;
    color: $blue;
    text-align: left;
    background-color: $citrine;
}

th, td {
    padding: 0.5em 1em 0.5em 0.5em;
    border: solid 1px $drab;
    margin: 0;
}

.sort {
    padding-left: 0.5em;
    color: $turq;
}
