#mainSearch {
    margin: 0 auto;
    text-align: center;
    //background-color: $lavender;
    padding: 1em;
    
    input {
        padding: 1em;
        background-color: $muted;
        border: solid 2px $primary;
        border-radius: 5px;
        font-size: 1.2em;
    }

    label {
        display: block;
        font-family: $font-stack-headings;
        font-size: 1.2em;
        font-weight: 500;
        color: $primary;
    }
}

table {
    // color: dimgrey;
    font-size: 1.1em;
    border-collapse: collapse;
    background-color: $grey-3;
}

th {
    font-weight: bold;
    color: $text;
    text-align: left;
    background-color: $grey-2;
    font-family: $font-stack-headings;
}

th, td {
    padding: 0.5em 1em 0.5em 0.5em;
    border: solid 1px $grey-2;
    margin: 0;
}

.sort {
    padding-left: 0.5em;
    color: $bg;
}

.sort:hover {
    color: $linkhover;
}

.sort:active {
    color: $text;
}
