@use "sass:color";

/* TYPOGRAPHY */
$font-stack-headings: 'Montserrat', sans-serif;
$font-stack-body: 'Lora', serif;
// $font-stack-mono: "DM Mono", monospace;
$line-height-body: 1.9;
$line-height-headings: 1.2;

// $modularscale: (
//   base: 1em,
//   ratio: 1.5
// );
// $leading: 1.6;

/* DARK MODE COLORS */
$black: RGBA(0, 0, 0, 1); // black
$bg: #212529;
$grey-1: #343A40;
$grey-2: #495057;
$grey-3: #6C757D;
$grey-4: #ADB5BD;
$grey-5: #CED4DA;
$grey-6: #DEE2E6;
$grey-7: #E9ECEF;
$grey-8: #F8F9FA;
$white: RGBA(255, 255, 255, 1); // white

$primary: #40E0D0;
$primary-muted: color.scale($primary, $lightness: 30%);
$secondary: #E55812;
$secondary-muted: color.scale($secondary, $lightness: 30%);
$text: $grey-8;
$link: RGBA(34,87,122,1);
$linkhover: RGBA(164,80,139,1);
$muted: RGBA(220, 220, 220,1);
$table: RGBA(220, 220, 220,1);


/* BREAkPOINTS */
$breakpoint-xxs-max: 325px;
$breakpoint-xs-min: 380px;
$breakpoint-xs-max: 420px;
$breakpoint-sm-min: 421px;
$breakpoint-sm-max: 480px;
$breakpoint-md-min: 481px;
$breakpoint-md-max: 768px;
$breakpoint-lg-min: 769px;