body {
    margin: 0 auto;
    font-family: $font-stack-body;
    // font-weight: 500;
    line-height: $line-height-body;
    font-size: 16px;
    font-weight: 400;
    color: $text;
    background-color: $bg;
}

a {
    text-decoration: none;
    color: $link;
    font-weight: 600;
}

a:hover {
    color: $linkhover;
}

h1, h2, h3, h4, h5 {
    font-family: $font-stack-headings;
    font-weight: 600;
    line-height: $line-height-headings;
    color: $secondary;
}

main {
    padding: 0.5em;
}