header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;

    h1 {
        margin: 5px 0 0 0;
        font-size: 65px;
        text-align: center;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
    }

    h2.subtitle {
        font-style: italic;
        font-family: $font-stack-body;
        text-align: center;
        margin-top: 0;
    }
}

#mainSearch {
    margin: 0 auto;
    text-align: center;
    //background-color: $lavender;
    padding: 1em;
    
    input {
        padding: 1em;
        background-color: $muted;
        border: solid 2px $primary;
        //border-radius: 5px;
        font-size: 1.2em;

        &:active {
            border: solid 2px $tertiary;
        }
    }

    label {
        display: block;
        font-family: $font-stack-headings;
        font-size: 1.2em;
        font-weight: 500;
        color: $grey-3;
        padding-right: 5px;
    }
}

#statsDiv {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: space-between;
    gap: 1em;
    margin: 10px auto;
    padding: 1em;
}

.stat {
    width: 100px;
    padding: 1.5em;
    background-color: $grey-8;
    text-align: center;
    

    h2 {
        font-size: 40px;
        margin: 0;
    }

    span {
        display: block;
        font-size: 1.2em;

        strong {
            color: $primary;
        }
    }
}

.stat-year {
    width: 200px;

    h2 {
        border-bottom: solid 1px $grey-4;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }

    span {
        text-align: left;
    }
}


table {
    // color: dimgrey;
    width: 100%;
    font-size: 1.1em;
    border-collapse: collapse;
    background-color: $muted;
}

tr:nth-of-type(even) { 
    background: $zebra; 
}

tr:hover {
    background-color: $secondary-muted;
}


th {
    font-weight: bold;
    color: $text;
    text-align: left;
    background-color: $th;
    font-family: $font-stack-headings;
}

th, td {
    padding: 0.5em 1em 0.5em 0.5em;
    border: solid 1px $th;
    margin: 0;
}

.sort {
    padding-left: 0.5em;
    color: $ternary;
}

.sort:hover {
    color: $link;
}

.sort:active {
    color: $text;
}

.highlight {
    color: $primary;
}

#resultsHeader {
    margin-top: 1em;
}

#results {
    margin: 0 auto;

}

footer {
    ul {
        list-style-type: none;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        margin: 0;
        padding: 0;

        li {
            list-style-type: none;
            margin-right: 1em;
            margin-left: 0;
            
            // &:first-of-type {
            //     padding-right: 1em; 
            //     border-right: solid 3px $grey-4;
            // }
        }
    }
}    


@media only screen and (max-width: 600px) {
    header {
        h1 {
            font-size: 30px;
        }
    }
}

@media only screen and (max-width: 800px) {


    /* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
        display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
    }

    tr { border: 1px solid #ccc; }

    td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #fff; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	Label the data
	*/
	td:nth-of-type(1):before { content: "Name"; }
	td:nth-of-type(2):before { content: "County"; }
	td:nth-of-type(3):before { content: "First Added"; }
	td:nth-of-type(4):before { content: "Total Applicants"; }
}