#mainSearch {
    margin: 0 auto;
    text-align: center;
    //background-color: $lavender;
    padding: 1em;
    
    input {
        padding: 1em;
        background-color: $muted;
        border: solid 2px $primary;
        border-radius: 5px;
        font-size: 1.2em;

        &:active {
            border: solid 2px $tertiary;
        }
    }

    label {
        // display: block;
        font-family: $font-stack-headings;
        font-size: 1.2em;
        font-weight: 500;
        color: $grey-2;
        padding-right: 5px;
    }
}

table {
    // color: dimgrey;
    font-size: 1.1em;
    border-collapse: collapse;
    background-color: $muted;
}

th {
    font-weight: bold;
    color: $text;
    text-align: left;
    background-color: $th;
    font-family: $font-stack-headings;
}

th, td {
    padding: 0.5em 1em 0.5em 0.5em;
    border: solid 1px $th;
    margin: 0;
}

.sort {
    padding-left: 0.5em;
    color: $ternary;
}

.sort:hover {
    color: $link;
}

.sort:active {
    color: $text;
}

.highlight {
    color: $primary;
}

#resultsHeader {
    margin-top: 1em;
}

#results {
    margin: 0 auto;

}
