#top-nav {
    overflow: hidden;
    background-color: $primary;
    color: $text; 
    font-size: 1.2em;
    font-weight: 600;  
    font-family: $font-stack-headings; 
}

#nav-list {
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    margin: 0;

    li {
        list-style-type: none;
        margin-right: 1em;
        margin-left: 0;

        a {
            color: $white;
            display: block;
            padding: 1em;
        }
    
        a:hover {
            color: $secondary;
        }
    }
}

#year-list, #county-list {
    display: none;

    li {
        list-style-type: none;
        margin-right: 1em;
        margin-left: 0;

        a {
            color: $white;
            display: block;
            padding: 1em;
        }
    
        a:hover {
            background-color: $secondary;
        }
    }
}

#searchFilter {
    select {
        font-weight: 600;
        padding: 1em;
        background-color: $primary;
        border: 0;
        color: $bg;
    }
}

.show {
    display: inherit;
}