#main-nav {
    overflow: hidden;
    background-color: $th;
    color: $muted; 
    font-size: 1.2em;
    font-weight: 600;  
    font-family: $font-stack-headings; 
    margin-bottom: 1em;
}

#nav-list {
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin: 0;

    li {
        list-style-type: none;
        margin-right: 1em;
        margin-left: 0;

        a {
            color: $primary;
            display: block;
            padding: 1em;
        }
    
        a:hover {
            color: $tertiary;
        }
    }
}

#countdown {
    color: $ternary;
}

#searchFilter {
    select {
        font-weight: 600;
        padding: 1em;
        background-color: $th;
        border: 0;
        color: $primary;
    }
}

.show {
    display: inherit;
}