/*******************
*  NAVIGATION BAR  *
*******************/
#main-nav {
    overflow: hidden;
    background-color: $th;
    color: $muted; 
    font-size: 1.2em;
    font-weight: 600;  
    font-family: $font-stack-headings; 
    margin-bottom: 1em;
}

#nav-list {
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin: 0;
    padding: 0;

    li {
        list-style-type: none;
        margin-right: 1em;
        margin-left: 0;

        a {
            color: $primary;
            display: block;
            padding: 1em;
        }
    
        a:hover {
            color: $tertiary;
        }
    }
}

#countdown {
    color: $tertiary;
}

#searchFilter {
    select {
        font-weight: 600;
        padding: 1em;
        background-color: $th;
        border: 0;
        color: $primary;
    }
}

@media only screen and (max-width: 800px) {
    #main-nav {
        font-size: 0.9em;
    }

    #nav-list {
        width: 100%;
        flex-flow: row wrap;
        justify-content: center;
        align-items: flex-start;
        text-align: left;

        li {
            margin-left: 5px;
            display: inline-block;

            a {
                padding: 0.5em;
            }
        }
    }

    #searchFilter {
        select {
            padding: 0.5em;
            display: inline-block;
        }
    }
}