@use "sass:color";

/* TYPOGRAPHY */
$font-stack-headings: 'Montserrat', sans-serif;
$font-stack-body: 'Lora', serif;
// $font-stack-mono: "DM Mono", monospace;
$line-height-body: 1.9;
$line-height-headings: 1.2;

// $modularscale: (
//   base: 1em,
//   ratio: 1.5
// );
// $leading: 1.6;

/* DARK MODE COLORS */
$black: RGBA(0, 0, 0, 1); // black
$bg: #EFEFF0;
$grey-1: #343A40;
$grey-2: #495057;
$grey-3: #6C757D;
$grey-4: #ADB5BD;
$grey-5: #CED4DA;
$grey-6: #DEE2E6;
$grey-7: #E9ECEF;
$grey-8: #F8F9FA;
$white: RGBA(255, 255, 255, 1); // white

$primary: #274C77 ;
$primary-muted: color.scale($primary, $lightness: 30%);
$secondary: #2E8B57;
$secondary-muted: color.scale($secondary, $lightness: 60%);
$tertiary: #2E8B57;
$ternary: #DB6C79;
$text: $grey-2;
$link: $tertiary;
$linkhover: $ternary;
$muted: #EBEBEB;
$th: color.scale($bg, $blackness: 40%);
$zebra: color.scale($bg, $blackness: 10%);


/* BREAkPOINTS */
$breakpoint-xxs-max: 325px;
$breakpoint-xs-min: 380px;
$breakpoint-xs-max: 420px;
$breakpoint-sm-min: 421px;
$breakpoint-sm-max: 480px;
$breakpoint-md-min: 481px;
$breakpoint-md-max: 768px;
$breakpoint-lg-min: 769px;